[submodule "net-backend"]
	path = net-backend
	url = https://github.com/ToanThanhTu/nextnet-shop-backend.git
[submodule "next-frontend"]
	path = next-frontend
	url = https://github.com/ToanThanhTu/nextnet-shop-frontend.git
