[submodule "net-backend"]
	path = net-backend
	url = git@github.com:ToanThanhTu/nextnet-shop-backend.git
[submodule "next-frontend"]
	path = next-frontend
	url = git@github.com:ToanThanhTu/nextnet-shop-frontend.git
